* *::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


html {
  font-size: 10px; // for easier conversion to rem
}

body {
  margin: 0;
}

header {
  padding: 7rem 20rem 0;
  position: -webkit-sticky;
  // position: sticky;
  // top: 0;
}

footer {
  padding: 15rem 20rem 7rem;
}

a,
a:link,
a:visited {
  text-decoration: none;
}
