// Primary colors
$color-primary-1: #1C2431; // intro and email sign up background
$color-primary-2: #181F2A; // main background
$color-primary-3: #0B1523; // footer background
$color-primary-4: #202A3C; // testimonials background

// Accent colors
$color-accent-cyan: #65E2D9; // inside call-to-action gradient
$color-accent-blue: #339ECC; // inside call-to-action gradient


// Neutral
$color-neutral-white: #FFF;
$color-box-shadow: rgba(0, 0, 0, 0.3);
